
<!-- This is the home page with "The Joel Hilton Film Collection" Title and his pic-->

<!--This is index page start-->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/JoelHiltonHeadshot.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Movie Collection</h5>
                            <h1 class="display-3 text-white animated slideInDown">The Joel Hilton Film Collection</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Welcome to Joel's Movie Collection Hub! Dive into our platform to organize, track, and showcase Joel's extensive film library. Explore his diverse collection of cinematic treasures and discover new favorites. Join Joel's community of fellow movie enthusiasts and share your thoughts on his curated selections. Start exploring Joel's movie collection today! </p>
                            <a  class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft" asp-controller="Home" asp-action="Index2">See More about Me</a>
                            <a  class="btn btn-light py-md-3 px-md-5 animated slideInRight" asp-controller="Home" asp-action="MovieList">File Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--This is index page end-->