@{
    ViewData["Title"] = "Home Page";
}


<!-- This is the home page with "The Joel Hilton Film Collection" Title and his pic-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/joelhiltonheadshot.jpg" height="500" /><br />
    <a asp-controller="Home" asp-action="MovieCollection">Enter movies into the Collection</a>
</div>

<p>Add something different</p>