@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--This is get to know Joel page with links-->
<div class="text-center">
    <h1 class="display-4">Get to know Joel</h1>
</div>

<br />
<div class= "text-center">
    <p>Joel is a comedian and performs regarly at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>. Don't miss his hilarious performances!</p>

    <p>For a feast of pop culture and fun, head over to Baconsale. Joel involves to this entertaining site. Visit <a href="https://baconsale.com/" target="_blank">baconsale.com</a> for more information.</p>

    <p>Interested in more of Joel's work in entertainment and media? Click on his photo below:</p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/baconsalekate.jpg" alt="Joel at Baconsale" style="width:100%;max-width:300px;">
    </a>
</div>

